# Jekyll specific
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_jekyll/
.bundle/
*.gem
*.rbc
capybara-*.html
coverage/
installed/
jekyll-*.gem
node_modules/

# macOS
.DS_Store

# Ruby
*.log
*.sql
*.sqlite3
*.swp

# IDEs and Editors
.vscode/
.idea/

# Temporary files
*.bak
*.tmp
