<section id="contact" class="mt-5">
    <div class="container">
        <h2>Contact</h2>
        <p>If you'd like to get in touch, feel free to reach out:</p>
        <ul>
            <li>Email: <a href="mailto:muhammad.faisal@example.com">muhammad.faisal@example.com</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/muhammadfaisal2">Muhammad Faisal</a></li>
            <li>GitHub: <a href="https://github.com/faisalazam">faisalazam</a></li>
        </ul>
    </div>
</section>
