<section id="experience" class="mt-5">
    <div class="container">
        <h2>Experience</h2>
        <p>I have worked with the following organizations:</p>
        <ul>
            <li><a href="https://www.atlassian.com/" rel="nofollow">Atlassian</a></li>
            <li><a href="https://www.vodafone.com.au/" rel="nofollow">Vodafone Hutchison Australia</a></li>
            <li><a href="https://www.nbnco.com.au/" rel="nofollow">National Broadband Network (NBN) Co, Australia</a>
            </li>
            <li><a href="https://www.homeaffairs.gov.au/" rel="nofollow">Department of Immigration and Citizenship
                (DIAC), Australia</a></li>
            <li><a href="https://www.ibm.com/au-en" rel="nofollow">IBM Global Services, Australia</a></li>
            <li><a href="https://dius.com.au/" rel="nofollow">DiUS Consulting, Australia</a></li>
            <li><a href="https://www.resmed.com.au/" rel="nofollow">ResMed, Australia</a></li>
            <li><a href="https://www.netsolpk.com/" rel="nofollow">NetSol Technologies Inc.</a></li>
        </ul>
    </div>
</section>
