<section id="faqs" class="mt-5">
    <div class="container">
        <h2>FAQs</h2>
        <p><b>Briefly describe your career history</b></p>
        <p>I’ve been in the software industry for last 15 years. Apart from technical skills, I’m certified professional
            Scrum master, scaled professional scrum as well as certified Agile practitioner from PMI. I’ve worked across
            different domains like land management, visa processing, healthcare, telecom etc. It’s been a steep learning
            curve where I just did not learn but also shared what I learnt whenever I got the opportunity.

            I’ve started my career as Software Engineer and since then, had been playing different roles. My
            cost-effective solutions with high quality deliverables as well as delivery oriented track record got
            rewarded with the career progression such as, leading the team and project, or becoming the Software
            Engineering Manager (as they knew that I’ve never been scared to take up bigger challenges).

            There had been tight deadlines, challenging requirements and complex issues from time to time, but have been
            meeting the expectations through the use of tools like communication, transparency, staying calm even under
            huge load and pressure; and then, “the approach” towards development and delivery, which means, follow the
            divide and conquer technique to split the complicated problems into small, measurable, achievable, testable
            and manageable ones, and follow Moscow technique to prioritise them to ensure delivering the best value all
            the time.

            Apart from that, I’ve also been focusing on looking for opportunities for automation which could either be
            project related or process related as well.</p>
        <p><b>Tell me about a time when you needed to get things done without direction or supervision?</b></p>
        <p>There had been quite a few examples, but I’ll use the implementation of API Gateway as an example. Problem
            was, our B2B gateway at that time was facing issues including long downtimes, which was not acceptable at
            all. So I was tasked to come up with the plan along with a Proof of Concept to have our own API Gateway. No
            further direction or supervision was there as that’s all I was told. So, I did some research and shortlisted
            an off the shelf product named Tyk which I could use to build my gateway on top of that instead of
            reinventing the wheel. It was developed in house to avoid purchasing expensive product from the market. So,
            I developed a proof of concept and started thinking about productionising it and that’s when I introduced
            tools like docker, ansible, vagrant, packer, nginx, log rotation etc. After having bits and pieces connected
            together, presented the whole solution to the platform head, the approach as well as the PoC was well
            received and as a result, I was given a team to work on it properly and make it production ready. Got the
            team up to speed and they got the opportunity to learn tools like ansible, docker, etc. It was deployed on
            AWS with all the latest techniques like scaling, load balancing etc. at that time. The project later became
            a product in the organisation and got used by multiple teams.</p>
        <p><b>Tell me about a time when you had conflicting deadlines, what did you do?</b></p>
        <p>We usually work on projects and the timeline is always sort of packed with tasks or stories. Its just one of
            such project we were working on, when we out system got attacked by hackers. So, security definitely has got
            higher priority than whatever else is in development. To tackle that, we had to work extra hours but still
            had to cut some corners from out next project. Also had to re-prioritise to ensure that the best value will
            get delivered by the end of the project and within the timeline. That’s what had happened, but in general,
            conflicting deadlines can be almost avoid with the right level of communication, transparency and dependency
            management. So that, in most of the cases, no one else is waiting for the work to be delivered by someone
            else. It’s all about keep unlocking others before the other get to that stage. So, I’d say its about having
            the right culture and discipline in the organisation. Sure, that won’t eliminate the conflicts 100%, but
            you’ll see that they can be avoided in most of the cases.</p>
    </div>
</section>
