<section id="projects" class="mt-5">
    <div class="container">
        <h2>Projects</h2>
        <p>One of the most notable projects I worked on was implementing an in-house API Gateway:</p>
        <ul>
            <li>Developed a Proof of Concept using Tyk as the base platform</li>
            <li>Implemented the solution using Docker, Ansible, Vagrant, Packer, NGINX, and more</li>
            <li>Deployed the production-ready gateway on AWS with scaling and load-balancing mechanisms</li>
            <li>Enabled my team to learn and adopt modern tools and practices</li>
            <li>The project became a reusable product within the organization</li>
        </ul>
        <p>
            I have worked on various large-scale projects, including the development of distributed systems and
            implementing enterprise-level solutions. Here are some key highlights:
        </p>
        <ul>
            <li>
                <strong>API Gateway Implementation:</strong> Developed an in-house API Gateway using Tyk, integrated
                with tools like Docker, Ansible, and AWS, resulting in reduced downtimes and enhanced performance.
            </li>
            <li>
                <strong>Legacy System Modernization:</strong> Successfully migrated a legacy system to a scalable
                microservices architecture.
            </li>
            <li>
                <strong>Personal Project:</strong> Upgraded a Java 10 and Spring Boot 2.0.5 project to Java 20 and Spring
                Boot 3.1.2, ensuring compatibility with updated components and libraries.
            </li>
            <li>
                <strong>Security Enhancement:</strong> Led a team to address security vulnerabilities after a system
                attack, reprioritizing tasks to ensure project delivery with enhanced security measures.
            </li>
        </ul>
    </div>
</section>
