<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p>Hi, it's Faisal here, having around 14 years of solid experience working mainly on enterprise-level
        projects.</p>
      <p>
        I have been working mostly on the development of distributed systems, where I have to work across the whole
        stack, including frontend, backend, infrastructure setup, and CI/CD pipelines.
      </p>
      <p>
        I believe that I am the best fit for Java-related roles like <b>Senior Software Engineer</b>, <b>Tech
        Lead</b>, or <b>Engineering Manager</b>. Why? Here are some reasons:
      </p>
      <ul>
        <li>I am seasoned Agile developer (Lead Delivery Engineer) as well as Scrum Master and very comfortable with
          the
          principle of <strong>iterative development</strong>.
        </li>
        <li>I am <strong>delivery-oriented</strong> person, understand the sprint as well as overall projects goals
          and can easily keep the
          team focused on achieving those goals.
        </li>
        <li>My ability to delegate responsibility and <strong>effectively present ideas</strong> has allowed me to
          be very successful
          in what I do, resulting in strong reputation for professionalism.
        </li>
        <li>I am a proven technical leader who is able to <strong>inspire an engineering team</strong>, bring
          clarity to their work,
          and help drive them to execute to the best of their abilities.
        </li>
        <li>I have good decision-making, problem-solving, and implementation skills and am continuously looking for
          ways to
          improve engineering quality.
        </li>
        <li>I’ll be happy to speak up as soon as I notice that the team is going off track.</li>
        <li>I have proven track record of <strong>delivering “working” software</strong> rather than just software
          as part of each iteration/sprint.
        </li>
        <li>I’ve been able to achieve this all the time by focusing on the <strong>quality of deliverable</strong>,
          i.e. by
          having <strong>enough automated tests</strong> in the form of <strong>unit, integration, performance,
            security as well as acceptance tests</strong>,
          hence code changes/refactoring/bug fixing can be done much quicker and with confidence.
        </li>
        <li>Through <strong>TDD</strong>, I am able to think well about the system and can forecast future issues
          easily.
        </li>
        <li>I am very much comfortable with <strong>CI (continuous integration)</strong> and <strong>CD (continuous
          delivery as well as deployment)</strong> principles.
        </li>
        <li>I play important role in the <strong>estimation</strong> as well as <strong>iteration planning meetings
          (IPMs)</strong> by finding out the
          dependencies, <strong>breaking out</strong> the complex/bigger problems into <strong>smaller more
            manageable problems</strong> and making the
          stories in a way to be able to <strong>play them in parallel</strong> if possible. Also, ensure that the
          <strong>stories are testable</strong> in themselves.
        </li>
        <li>I am more on the side of writing <strong>clean, simple and readable code</strong> to avoid the need of
          documentation most of the time.
        </li>
        <li>I think about how the <strong>reliability, scalability and availability</strong> of the offered
          solutions be enhanced, for example,
          mechanisms like proper <strong>time-outs, rate limiting, throttling, circuit breakers</strong> etc. can
          really help in such cases.
        </li>
        <li>I am always happy to <strong>take more responsibility</strong> whenever required and can step back as
          well to give chance to other team members.
        </li>
        <li>I am always <strong>open to collaborate and communicate</strong> with UX/QA/BA/Dev (any stakeholder) to
          discuss the requirements,
          solution, test scenarios, risks etc., which really helps to have every one in the team on the same page.
        </li>
        <li>I am an expert in <strong>balancing multiple priorities</strong> on large-scale, high-visibility
          projects and employing techniques
          to deal with ambiguity.
        </li>
        <li>I have the ability to challenge and remove any <strong>unnecessary barriers</strong> to service
          delivery.
        </li>
        <li>I am really strong in <strong>coaching and mentoring</strong> multidisciplinary teams in <strong>Agile’s
          best practices/techniques</strong>, as well as suggesting <strong>automation to increase
          productivity</strong>.
        </li>
        <li>Strong negotiation skills and the proven ability to influence external partners, stakeholders and
          customers to
          secure mutually beneficial outcomes.
        </li>
        <li>I am a <strong>collaborative team player</strong>, and lead a professional scrum team as part of a wider
          group of scrum masters
          working towards common goals within a large-scale programme.
        </li>
      </ul>
      <p>
        I’ve been doing all of the above and more in my day-to-day life. More importantly, I do not follow these
        practices just because I am instructed to do so, rather I follow them because I can see some real value and
        importance of them. I also strongly believe that to get the real value out of anything, one should first
        understand the importance rather than blindly following (e.g., <strong>Mechanical Scrum vs. Professional
        Scrum</strong>), and then he/she can use that practice/principle with passion.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="../assets/docs/Detailed_Resume.docx" download class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
