<!-- About Section -->
<section style="font-family: 'Arial', sans-serif; color: #fff; background-color: #3e6183;" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <p>Hi, it’s Faisal here, having around 14 years of solid experience working mainly on enterprise-level
                projects. I have
                been working mostly on the development of distributed systems, where I have to work across the whole
                stack including
                frontend, backend, infrastructure setup, CI/CD setup, etc. I believe that I am the best fit for
                Java-related roles like
                <strong>Senior Software Engineer</strong>, <strong>Tech Lead</strong>, or <strong>Engineering
                    Manager</strong>.</p>

            <hr/>

            <h3 id="why-i-am-a-good-fit">Why I am a Good Fit?</h3>

            <h4 id="️-agile-expertise">🛠️ Agile Expertise</h4>

            <ul>
                <li>I am a seasoned Agile developer (Lead Delivery Engineer) as well as Scrum Master and very
                    comfortable with the
                    principle of <strong>iterative development</strong>.
                </li>
                <li>I can easily keep the team focused on reaching the project’s goals because I am a <strong>delivery-oriented</strong>
                    individual who understands both the sprint and the overarching objectives.
                </li>
                <li>I am a proven technical leader who is able to inspire an engineering team, bring clarity to their
                    work, and help drive them to execute to the best of their abilities.
                </li>
                <li>I play an important role in the estimation and iteration planning meetings (IPMs) by finding out the
                    dependencies, breaking out complex/bigger problems into smaller, more manageable problems, and
                    making the stories testable and able to be played in parallel if possible. Also, ensure that the
                    stories are testable in themselves.
                </li>
            </ul>

            <hr/>

            <h4 id="-leadership-and-decision-making">🔑 Leadership and Decision-Making</h4>

            <ul>
                <li>My ability to delegate responsibility and effectively present ideas has allowed me to be very
                    successful in what I do,
                    resulting in a strong reputation for professionalism.
                </li>
                <li>I have good decision-making, problem-solving, and implementation skills and am continuously looking
                    for ways to improve engineering quality.
                </li>
                <li>I’ll be happy to speak up as soon as I notice that the team is going off track.</li>
                <li>I am always happy to take more responsibility whenever required and can step back as well to give a
                    chance to other team members.
                </li>
                <li>I am always open to collaborate and communicate with UX/QA/BA/Dev (any stakeholder) to discuss the
                    requirements, solution, test scenarios, risks etc., which really helps to have everyone in the team
                    on the same page.
                </li>
                <li>I have strong negotiation skills and the proven ability to influence external partners,
                    stakeholders, and customers to secure mutually beneficial outcomes.
                </li>
            </ul>

            <hr/>

            <h4 id="-engineering-and-technical-skills">💻 Engineering and Technical Skills</h4>

            <ul>
                <li>I have a proven track record of delivering “working” software rather than just software as part of
                    each iteration/sprint.
                </li>
                <li>I’ve been able to achieve this all the time by focusing on the quality of deliverable, i.e., by
                    having enough automated tests in the form of unit, integration, performance, security as well as
                    acceptance tests, hence code changes/refactoring/bug fixing can be done much quicker and with
                    confidence.
                </li>
                <li>Through TDD, I am able to think well about the system and can forecast future issues easily.</li>
                <li>I am very much comfortable with CI (continuous integration) and CD (continuous delivery and
                    deployment) principles.
                </li>
                <li>I am more on the side of writing clean, simple, and readable code to avoid the need for
                    documentation most of the time.
                </li>
                <li>I think about how the reliability, scalability, and availability of the offered solutions can be
                    enhanced, for example, mechanisms like proper time-outs, rate limiting, throttling, circuit breakers
                    etc. can really help in such cases.
                </li>
                <li>I am really strong in coaching and mentoring multidisciplinary teams in Agile’s best
                    practices/techniques, as well as suggesting automation to increase productivity.
                </li>
            </ul>

            <hr/>

            <h4 id="-collaboration-and-team-dynamics">🤝 Collaboration and Team Dynamics</h4>

            <ul>
                <li>I am a collaborative team player, and lead a professional scrum team as part of a wider group of
                    scrum masters working towards common goals within a large-scale programme.
                </li>
                <li>I am an expert in balancing multiple priorities on large-scale, high-visibility projects and
                    employing techniques to deal with ambiguity.
                </li>
                <li>I have the ability to challenge and remove any unnecessary barriers to service delivery.</li>
                <li>I am always open to collaborating with all team members and stakeholders to ensure that
                    requirements, solutions, and risks are well understood and managed.
                </li>
            </ul>

            <hr/>

            <h4 id="-professional-approach-and-philosophy">🌱 Professional Approach and Philosophy</h4>

            <ul>
                <li>I have been doing all of the above and more in my day-to-day life. More importantly, I do not follow
                    these practices just because I am instructed to do so, rather I follow them because I can see the
                    real value and importance of them.
                </li>
                <li>I strongly believe that to get the real value out of anything, one should first understand the
                    importance rather than blindly following (e.g., Mechanical Scrum vs. Professional Scrum), and then
                    he/she can use that practice/principle with passion.
                </li>
            </ul>

            <hr/>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="../assets/docs/Detailed_Resume.docx" download class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>
