<footer class="text-center mt-5 bg-dark text-white py-3">
    <p>&copy; <span id="year">2024</span> Muhammad Faisal | All rights reserved</p>
    <ul class="list-unstyled">
<!--        <li><a href="http://twitter.com/your-twitter-handle" class="text-white">Twitter</a></li>-->
        <li><a href="https://www.linkedin.com/in/muhammadfaisal2" class="text-white">LinkedIn</a></li>
        <li><a href="https://github.com/faisalazam" class="text-white">Github</a></li>
    </ul>
</footer>

<script>
    if (document.getElementById('year')) {
        document.getElementById('year').textContent = new Date().getFullYear().toString();
    }
</script>
