<section id="organisations" style="color: #fff;" class="interactive-section">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Organisations I’ve Worked For</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="portfolio-flex-row">
            {% assign sorted_organisations = site.organisations | sort: "to" | reverse %}
            {% assign ongoing_positions = site.organisations | where: "present", true %}
            {% assign past_positions = site.organisations | where: "present", false | sort: "to" | reverse %}

            {% for organisation in ongoing_positions %}
            <div class="portfolio-flex-item portfolio-item">
                <a href="#organisationModal-{{ organisation.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-building fa-3x"></i>
                        </div>
                    </div>
                    <img src="../img/organisations/{{ organisation.img }}" class="img-responsive" alt="{{ organisation.alt }}">
                </a>
                <p class="organisation-title">{{ organisation.title }}</p>
            </div>
            {% endfor %}

            {% for organisation in past_positions %}
            <div class="portfolio-flex-item portfolio-item">
                <a href="#organisationModal-{{ organisation.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-building fa-3x"></i>
                        </div>
                    </div>
                    <img src="../img/organisations/{{ organisation.img }}" class="img-responsive" alt="{{ organisation.alt }}">
                </a>
                <p class="organisation-title">{{ organisation.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
