<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>

<header>
    {% include navbar.html %}
</header>

<!-- Main content wrapper -->
<div class="content">
    <div class="container mt-5">
        <!-- Page content (this is where the content of the current page will go) -->
        {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
